.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }


    .main-panel {
        margin: 36px 24px 0px 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .title {
            text-align: center;
            font-size : 20px;
            margin-bottom: 16px;
        }

        mat-row {
            width: 408px;
        }
        
        mat-cell{
            cursor: pointer;
        }

        .is-favourite {
            font-weight: 800;
            font-size: 16px;
        }
    }

    .details-panel {
        margin: 36px 0px 32px 0px;
        display: flex;
        justify-content: center;
        align-self: baseline;
        width: 100%;

        mat-card{
            box-shadow: 0 0 8px 0 rgb(25 25 25);
            margin: 0px 16px 0px 16px;
        }

        .card {
            width: 100%;
            display: flex;
            justify-content: center;

            .card-title {
                text-align: center;
                font-size: 26px;
            }

            .image-container{
                text-align: center;

                img {
                    width: 120px;
                }
            }

            .content-item {
                padding: 16px 16px 16px 16px;
            }
        }
    }
}