<div class="container">
    <div class="back-button">
        <button mat-button (click)="onGoBack()">
            <mat-icon>arrow_back</mat-icon> Go back
        </button>
    </div>
    <div class="settings">
        <mat-card class="card">
            <mat-card-title class="card-item">
                Settings
            </mat-card-title>

            <mat-card-content>
                <form [formGroup]="form" class="form">
                    <div class="card-item">
                        <mat-slide-toggle (change)="onToggle($event)" formControlName="slider" color="primary"> {{
                            isDarkTheme ? isDarkThemeLabel :
                            isLightThemeLabel}}
                        </mat-slide-toggle>
                    </div>

                    <div class="card-item">

                        <mat-form-field class="full-width">
                            <mat-label>Number of items per page</mat-label>
                            <input formControlName="items" matInput placeholder="Ex : 50">
                        </mat-form-field>
                    </div>
                </form>

                <div class="card-item">
                    <button mat-raised-button color="primray" (click)="onValidate()"> Save </button>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>