.back-button {
    margin: 16px 0px 0px 8px;
}

.settings {
    display: flex;
    justify-content: center;
    align-content: center;
    
    .card {
        width: 300px;
        
        .card-item {
            text-align: center;
            padding-bottom: 32px;
        }
    }
}
