.settings {
    margin: 64px 0px 16px 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    
    .card {
        width: 300px;
        
        .card-item {
            text-align: center;
            padding-bottom: 32px;
        }
    }
}
